/3Semestre/EstruturaDeDados/BuscaBinaria/build/
/3Semestre/ProgramacaoII/Lista3/nbproject/private/
/3Semestre/ProgramacaoII/Lista3/build/
/3Semestre/ProgramacaoII/Prova3/nbproject/private/
/3Semestre/ProgramacaoII/Prova3/build/