/3Semestre/EstruturaDeDados/BuscaBinaria/build/
/3Semestre/ProgramacaoII/Lista3/nbproject/private/
/3Semestre/ProgramacaoII/Lista3/build/
/3Semestre/ProgramacaoII/Prova3/nbproject/private/
/3Semestre/ProgramacaoII/Prova3/build/
/4Semestre/LinguagensDeProgramação/EvxercicioAvaliativo/nbproject/private/
/4Semestre/LinguagensDeProgramação/EvxercicioAvaliativo/build/
/4Semestre/LinguagensDeProgramação/EvxercicioAvaliativo/dist/
/4Semestre/LinguagensDeProgramação/ExercicioAvaliativo/nbproject/private/
/4Semestre/LinguagensDeProgramação/ExercicioAvaliativo/build/
/4Semestre/TeoriaDosGrafos/Pratica/nbproject/private/
/4Semestre/LinguagensDeProgramação/Lista12/nbproject/private/
/4Semestre/LinguagensDeProgramação/Lista12/build/